#box {
  width: 600px;
  height: 600px;
  border: 2px solid #74b9ff;
  display: table-cell;
  vertical-align: bottom;
  overflow: hidden;
  line-height: 0px;
}

.row {
  display: block;
}

.circle {
  /* height: 20px;
    width: 20px; */
  display: inline-block;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  background-color: #3498db;
}

.container {
  margin: auto;
  width: 50%;
  padding: 10px;
}

.input-container {
  padding: 20px;
}

input {
  padding: 10px;
  border: 1px solid #74b9ff;
}

input,
#box,
button,
#outputMessage {
  border-radius: 3px;
}

/* for mozilla */
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
  margin: 0;
}

/* for chrome */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

button {
  padding: 10px;
  cursor: pointer;
  color: white;
  background-color: #74b9ff;
  border: none;
}

button:hover {
  box-shadow: 0 1px 1px 0 #74b9ff;
  background-color: #6db5fc;
}

button:disabled {
  background-color: #e3efff;
  opacity: 0.5;
}

button:disabled:hover {
  box-shadow: none;
}

.message {
  width: 570px;
  background-color: #e3efff;
  color: black;
  padding: 10px;
}
